<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user page</title>
</head>
<body>
<div>
    <form action="#" th:action="@{/admin/update}" th:object="${user}" method="post">
        <input readonly type="hidden" th:field="*{id}" id="id">
        <input required type="text" th:name="firstName" placeholder="First name"><br/>
        <input required type="text" th:name="lastName" placeholder="Last name"><br/>
        <input required type="text" th:name="age" placeholder="Age"><br/>
        <input required type="text" th:name="email" placeholder="Email"><br/>
        <input required type="text" th:name="password" placeholder="Password"><br/>
        <input type="checkbox" th:name="user_role" value="USER">Choose user
        <input type="checkbox" th:name="admin_role" value="ADMIN">Choose admin<br/>
        <input type="submit" value="Update">
    </form>
</div>
</body>
</html>